<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/admin/addorder}" th:object="${order}", method="POST">
    <span>Номер клиента:<input type="text" th:field="*{user.number}" /></span>
    <h1></h1>
    <span>Имя:<input type="text" th:field="*{user.name}" /></span>
    <h1></h1>
    <span>Уникальный номер клиента:<input type="text" th:field="*{order.userID}" /></span>
    <h1></h1>
    <span>Способ доставки:(NEED, NO)<input type="text" th:field="*{order.delivery}" /></span>
    <h1></h1>
    <span>Состояние:(NEW,CANCELED,PERFORMED,FINISHED)<input type="text" th:field="*{order.orderStatus}" /></span>
    <h1></h1>
    <span>Способ оплаты:(ONLINE,MONEY)<input type="text" th:field="*{order.payment}" /></span>
    <h1></h1>
    <span>Адрес доставки:<input type="text" th:field="*{order.deliveryAddress}" /></span>
    <h1></h1>
    <span>Время доставки:(не вводить)<input type="text" th:field="*{order.deliveryTime}" /></span>
    <h1></h1>
    <span>Номер торта:<input type="text" th:field="*{purchases[0].cakeId}" /></span>
    <h1></h1>
    <span>Количество<input type="text" th:field="*{purchases[0].number}" /></span>
    <h1></h1>

    <span><input type="submit" value="подтвердить"/></span>
</form>
<form action="#" th:action="@{'/admin/menu'}"  method="GET">
    <input type="submit" value="На главную" />
</form>
<form action="#" th:action="@{'/admin/orders'}"  method="GET">
    <input type="submit" value="Назад" />
</form>
</body>
</html>