<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
  <li th:each="cakes : ${cakes}">
    <span th:text="Название">Defoult</span>
<span th:text="${cakes.getName()}">Defoult</span>
      <input type="text">
      <input type="submit" value="Отправить">
    <span th:text="Калорийность">Defoult</span>
<span th:text="${cakes.getCalories()}">Defoult</span>
    <span th:text="Вес">Defoult</span>
<span th:text="${cakes.getWeight()}">Defoult</span>
    <span th:text="Цена">Defoult</span>
<span th:text="${cakes.getPrice()}">Defoult</span>
  </li>
</ul>
</body>
</html>